
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; 
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: 500px;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  max-height: max-content;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
}

.carousel__slide img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-height: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carousel {
    position: relative;
    /* width: 100%; */
    height: 400px;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    max-height: max-content;
  }
  .carousel__slide img {
    object-fit: contain;
    object-position: top;
    height: 100%;
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .carousel {
    position: relative;
    /* width: 100%; */
    height: 350px;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    max-height: max-content;
  }
  .carousel__slide img {
    object-fit: contain;
    object-position: top;
    height: 100%;
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
  }
}


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

