*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    max-width: 800px;
    margin: 5vh auto;
    padding: 20px;
}

h1{
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 40px;
    color: #4b4a4a;
}

h2{
    font-size: 1.1em;
    font-weight: 400;
    color: #6d6d6d;
}

.faq{
    padding: 20px 30px;
    border: 1px solid rgba(0 0 0 / .1);
    border-radius: 5px;
    color: #979797;
    position: relative;
    line-height: 1.5em;
    margin-top: 15px;
}

.faq .faq_text{
    width: 90%;
}

.btn{
    color: #5e5d5d;
    position: absolute;
    right: 25px;
    top: 35px;
    font-weight: 400;
    font-size: 1.4em;
    cursor: pointer;
}

/* Hide p tags */
.faq.open h2{
    color: #0a0404;
}

.faq p{
    display: none;
    font-weight: 300;
}

.faq.open p{
    display: block;
}
.faq.open .btn{
    color: #000000;
}



/* Footer */
footer{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(00 84 80 / .2);
    padding-top: 50px;
}

footer h2 {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-size: 10px;
}

footer p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8em;
}

@media (min-width: 720px){
    footer p{
        width: 80%;
    }
}

a{ 
    padding-left: 95%;
    text-decoration: none;
    color: #0a0404;

}