

#login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(180deg, #000000 0%, #232323 100%);  
  border-radius: 25px;
  width: 350px;
  height: 350px;
  padding-bottom: 40px;
  position: absolute;
  top: 125px;
  right: -350px;
  z-index: 10;
  /* transform: translateX(-350px);
  transition: 3s; */
  display: none;
  /* animation-name: inputanimate;
  animation-duration: 3s; */
  
}

.form-login form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}

#form-box label {
  color: rgb(255, 255, 255);
}

#form-box input[type=submit] {
  background-color: #dcdcdc;
  width: 120px;
  padding: 6px;
  border: 1px solid #000000 ;
}

#form-box input[type=submit]:hover {
  color: #ffffff;
  background-color: #272727;
  border: 1px solid #ffffff ;
}


#form-box input, label { 
  padding: 5px;
  border-radius: 5px;
  position: relative;
  animation-name: inputanimate;
  animation-duration: 3s;
}

#form-box li {
  margin: 15px 0px 0px 0px;
  height: 20px;
}

#form-box li input{
  margin-left: 5px;
  margin-right: 3px;
}

#form-box li label {
  font-size: 13px;
  vertical-align: middle;
}

#form-box li {
  list-style-type: none;
}

#login h3 {
  padding-top: 20px;
  text-align: center;
  font-size: 22px;
  position: relative;
  /* animation-name: loginanimate;
  animation-duration: 3s; */
  color: #fecb2a;
}

/* #login {
  animation-name: loginanimate;
  animation-duration: 3s;
} */


/* @keyframes inputanimate {

  from { 
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }

} */

/* @keyframes loginanimate {

  from { 
    right: -350px;
    opacity: 0;
    color: white;
  }
  to {
    right: 350px;
    opacity: 1;
    color: #fecb2a;
  }

} */

